{% extends 'base.html' %}
{% block content %}
    <div class="mb-3 d-flex justify-content-center">
        <a href="{% url 'homepage' %}" class="btn btn-primary mx-2">Home</a>
    </div>
    <div class="container">
        <h1 class="text-center" style="color: darkcyan;">Your Appointment Status</h1>
        <table class="table table-bordered">
            <thead>
                <tr style="color: brown;">
                    <th>Patient</th>
                    <th>Problem</th>
                    <th>Doctor</th>
                    <th>Date</th>
                    <th>Status</th>
                    <th>Accepted</th>
                </tr>
            </thead>
            <tbody>
                {% for appointment in appointments %}
                    <tr>
                        <td>{{ appointment.patient.name }}</td>
                        <td>{{ appointment.problem }}</td>
                        <td>{{ appointment.doctor }}</td>
                        <td>{{ appointment.date }}</td>
                        <td>{{ appointment.status }}</td>
                        <td>{{ appointment.accepted|yesno:"Yes,No" }}</td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="6" class="text-center">No appointments found.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
